In [1]:
# # in this , we are  leaning how to make a function .
# becausr iy is very mandatory in the project. for it we use the define keyword.
# # it increase the reusability.

In [2]:
print("Tis is my print")

Tis is my print

In [3]:
l = [1,2,3,4,]

In [4]:
type(l)

list

In [5]:
len(l)

4

In [6]:
def test():

<class 'SyntaxError'>: incomplete input (<ipython-input-6-5d287e34fa81>, line 2)

In [7]:
def test():
    pass

In [8]:
test()

In [9]:
def test1():
    print("Tis is my very very first function")

In [10]:
test1()
# now by recalling this function it will give the output. Thus, it gives the reusability.

Tis is my very very first function

In [11]:
# remember print will always gie the none type data .
# that is why we can't concatenate it with any string , int and float.
# but remember return will always give the as it , wich can be int , floay or string . 
# that is why we can concatenate it with any string , int and float.

In [12]:
type(test1())

Tis is my very very first function

NoneType

In [13]:
test1()+"Ramesh"
# error because print will always gie the none type data .
# that is why we can't concatenate it with any string , int and float.

Tis is my very very first function

<class 'TypeError'>: unsupported operand type(s) for +: 'NoneType' and 'str'

In [14]:
def test2():
    return "THIs is my very first functiom"

In [15]:
test2()+"Ramesh"
# because return will always give the as it , wich can be int , floay or string . 
# that is why we can concatenate it with any string , int and float.

'THIs is my very first functiomRamesh'

In [16]:
 def test3() :

        return "sudh" , 23, 345.56 , [1,2,3,3]

In [17]:
def test3():
    return "sudh", 23, 345.56, [1,2,3,4]
# now we will get the output in the form of tuples

In [18]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 4])

In [1]:
def test4():
    a = 5+6/7
    return a

In [2]:
a

<class 'NameError'>: name 'a' is not defined

In [3]:
test4()

5.857142857142857

In [4]:
def test4():
    a = 5+6/7
    return a
    # means we also perform operation in it

In [5]:
test4()

5.857142857142857

In [6]:
def test5(a,b,c):
    d = a+b-c
    return d
    # now user will give the values to the a, b, c arguments and get the output

In [7]:
test5(1,2,3)

0

In [8]:
def test6(a,b):
    return a+b

In [9]:
def test6(a, b):
    return a+b

In [11]:
test6(1,7)

8

In [12]:
test6("sudh" , " kumar")

'sudh kumar'

In [13]:
test6("sudh", "Kumar")

'sudhKumar'

In [14]:
test6([1,2,3,4,5] , [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [18]:
test6([1,2,3,4],[1,2,3,4,5])

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [19]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

In [20]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [21]:
l = [1,2,3,4, "sudg", "kumar", [1,2,3,4,5,6,7]]

In [22]:
l

[1, 2, 3, 4, 'sudg', 'kumar', [1, 2, 3, 4, 5, 6, 7]]

In [25]:
l1 = []
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)
l1

[1, 2, 3, 4]

In [29]:
def test7(l):
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

# here we are extracting integers from the list, by creating new function

In [30]:
def test7(m):
    l1 = []
    for i in l:
        if type(i) == int or type(i)==float:
            l1.append(i)
    return l1

In [31]:
test7(l)

[1, 2, 3, 4]

In [34]:
def test8(a) :
    l= []
    for i in a : #this i will give list, integers and other elements inside of list.
        if type(i) == list:
            for j in i : #but this j will give integers or other other elements that we want from list inside of list
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l



# now we will create a function by which we can extract integers from list nd also from list inside of list

In [35]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7]

In [38]:
test8(l)
# no docstring

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7]

In [39]:
# in tring in our desired created function we will enclosd the that statement in the triple quotes which could either be single quote or double.

In [40]:
l

[1, 2, 3, 4, 'sudg', 'kumar', [1, 2, 3, 4, 5, 6, 7]]

In [42]:
def test9(a) :
    """this is my function to extract num data from list"""

    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l
# here we have created the docstring in the 2nd line
# which could be checked by pressing the shift+tab keys.

In [ ]:
test9()

In [43]:
def test10(a,b):
    return a+b

In [45]:
def test11(*args):
    return args
    # in normal cases we are to write the temporary variable in the bracket of first line as arguments. but it limited.
    # to avoid this problem use use *args, which means multiple arguments and and args is not a keyword 
    # even i can replace it with my name

In [47]:
type(test11())
# it will store the data in the form of tuples

tuple

In [48]:
test11(1,2,3)

(1, 2, 3)

In [50]:
type(test11())

tuple

In [51]:
test11(1,2,3,"sudh" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [52]:
def test13(*args , a) :
    return args , a
# where a in the first line is a default argument

In [53]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [54]:
test13(1,2,3,4, a = 23)

((1, 2, 3, 4), 23)

In [55]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [56]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [59]:
test14(3,4)
# because 23, 1 are fixed or default and 3, 4 is user defined but fixed alues can be changed by these by applying
# any operation

(23, 1, 3, 4)

In [60]:
test14(2,5 , a = 2342)
# here we changed this fixed value

(2342, 1, 2, 5)

In [62]:
def test15(**kwargs):
    return kwargs
    # here kwargs stands for the keyword arguments.
    # it is also used for the multiple arguments.
    # it is applied in the dictionary

In [63]:
test15()

{}

In [64]:
type(test15())

dict

In [67]:
test15(a = [1,2,3,4] , b = "sudh" , c = 23.45 )
# here we the dictionary , means data in the key values pair
# if we use kwargs then it wil not be limited to the 3 keys values pair. we could write multiple key values pair by our own data

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}