In [2]:
a = {}
# no data then kit is dictionary

In [4]:
type(a)

dict

In [3]:
b = {12,34,"abhui"}
# linear elements, then it is set

In [5]:
type(b)

set

In [6]:
c = {"Name" : "Mohit", "Roll no.": 72}
# Here data is in the key and value ppair, SO it it dictionary

In [7]:
type(c)

dict

In [8]:
# any kind of special case chaarcter is not allowed in the keuy and valuue pair in the dictionary

In [9]:
# Her is no concept of index as in the list tuples and string

In [10]:
d1 = {"Key": "Sudh"}

In [11]:
type{d1}

<class 'SyntaxError'>: invalid syntax (<ipython-input-11-f44772a7bb4c>, line 1)

In [12]:
type(d1
    )

dict

In [13]:
d2 = {"Name": "Sudh", "email":"ss@gmail.com", "number":123456}

In [14]:
type(d2)

dict

In [16]:
d2["Name"]
# Here is not any concept of indexing as in the string, list and tuple.

'Sudh'

In [1]:
q1 = {"a":"b"}

In [3]:
q1["b"]

<class 'KeyError'>: 'b'

In [17]:
d3 = {234 : "sudh" , '_wer' : "kumar",True :24234}

In [19]:
d4 = {"Name": "Mohit", "email" : "mohitjassu6723@gmail.com", "Name":"Monty"}
# Remeber the key should always be unique otherwise it will take the updated vvalue

In [20]:
d4["Name"]

'Monty'

In [21]:
d3

{234: 'sudh', '_wer': 'kumar', True: 24234}

In [22]:
d3[True]

24234

In [23]:
d3

{234: 'sudh', '_wer': 'kumar', True: 24234}

In [24]:
d3[1]
# As True means 1

24234

In [29]:
d5 ={"company" : "pwskills" , "course" :["web dev" , "data science " , "java with dsa system design"]}

In [30]:
d5 = {"company" : "pwskills", "course":["Web dev", "data science", "java with dsa and system design"]}
# we can write list in the value of a dictionary

In [31]:
d5["course"]

['Web dev', 'data science', 'java with dsa and system design']

In [33]:
d51 ={"company" : "pwskills" , "course" :("web dev" , "data science " , "java with dsa system design")}
# we can write tuple in the value of a dictionary

In [34]:
d51["course"]

('web dev', 'data science ', 'java with dsa system design')

In [35]:
d52 ={"company" : "pwkills" , "course" :{"web dev" , "data science " , "java with dsa system design"}}
# we can write set in the value of a dictionary

d52["course"]

In [39]:
d5

{'company': 'pwskills',
 'course': ['Web dev', 'data science', 'java with dsa and system design']}

In [40]:
d51

{'company': 'pwskills',
 'course': ('web dev', 'data science ', 'java with dsa system design')}

In [42]:
d5["course"][0]

'Web dev'

In [45]:
d51["course"][1]

'data science '

In [44]:
d52["course"][1]

<class 'TypeError'>: 'set' object is not subscriptable

In [51]:
d6 = {"number" : [2,34,3,34,34],"assignment":(1,2,3,4,5,6) , "launch_date":{28,12,14} ,
      "class_time":{"web_dev": 8 , "Data science masters" : 8 , "java with dsa and system design":7}}
# we can even write key value pair in the key of a dictionary

In [52]:
print(d6)

{'number': [2, 34, 3, 34, 34], 'assignment': (1, 2, 3, 4, 5, 6), 'launch_date': {28, 12, 14}, 'class_time': {'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7}}

In [53]:
d7 = {"number": [2,55,3454,455,23], "assignment": (23,45,345,23,786,12,12), "launch date":{28,12, 14},
     "class time" : {"web dev":8, "data science masters": 8, "java with DSA and system design":9}}

print(d7)

In [54]:
d7["class time"]["web dev"]

8

In [57]:
d7["student"] = ["Mohit", "Rohit","Preeti"]
# THis is how a new key value pair is added in the dictionary

In [58]:
print(d7)

{'number': [2, 55, 3454, 455, 23], 'assignment': (23, 45, 345, 23, 786, 12, 12), 'launch date': {28, 12, 14}, 'class time': {'web dev': 8, 'data science masters': 8, 'java with DSA and system design': 9}, 'student': ['Mohit', 'Rohit', 'Preeti']}

In [59]:
d7["student"] = ["RAnbir", "JAgdish"]

In [61]:
print(d7)
# as the key is unique . So , it will take the updated key

{'number': [2, 55, 3454, 455, 23], 'assignment': (23, 45, 345, 23, 786, 12, 12), 'launch date': {28, 12, 14}, 'class time': {'web dev': 8, 'data science masters': 8, 'java with DSA and system design': 9}, 'student': ['RAnbir', 'JAgdish']}

In [62]:
d5

{'company': 'pwskills',
 'course': ['Web dev', 'data science', 'java with dsa and system design']}

In [63]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7}}

In [65]:
d6["class_time"]["web_dev"] = 12

print(d6)

In [66]:
print(d6)

{'number': [2, 34, 3, 34, 34], 'assignment': (1, 2, 3, 4, 5, 6), 'launch_date': {28, 12, 14}, 'class_time': {'web_dev': 12, 'Data science masters': 8, 'java with dsa and system design': 7}}

In [67]:
del d6["number"]

In [68]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 12,
  'Data science masters': 8,
  'java with dsa and system design': 7}}

In [69]:
d6 = {"number" : [2,34,3,34,34],"assignment":(1,2,3,4,5,6) , "launch_date":{28,12,14} ,
      "class_time":{"web_dev": 8 , "Data science masters" : 8 , "java with dsa and system design":7}}
# we can even write key value pair in the key of a dictionary

In [70]:
print(d6)

{'number': [2, 34, 3, 34, 34], 'assignment': (1, 2, 3, 4, 5, 6), 'launch_date': {28, 12, 14}, 'class_time': {'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7}}

In [73]:
d6.keys()

dict_keys(['number', 'assignment', 'launch_date', 'class_time'])

In [75]:
list(d6.keys())

['number', 'assignment', 'launch_date', 'class_time']

In [76]:
d6.values()

dict_values([[2, 34, 3, 34, 34], (1, 2, 3, 4, 5, 6), {28, 12, 14}, {'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7}])

In [77]:
list(d6.values())

[[2, 34, 3, 34, 34],
 (1, 2, 3, 4, 5, 6),
 {12, 14, 28},
 {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7}]

In [80]:
tuple((d6.items()))

(('number', [2, 34, 3, 34, 34]),
 ('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data science masters': 8,
   'java with dsa and system design': 7}))

In [81]:
set(d6.keys())

{'assignment', 'class_time', 'launch_date', 'number'}

In [82]:
list(d6.items())

[('number', [2, 34, 3, 34, 34]),
 ('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data science masters': 8,
   'java with dsa and system design': 7})]

In [83]:
Aman = list(d6.items())

In [84]:
print(Aman)

[('number', [2, 34, 3, 34, 34]), ('assignment', (1, 2, 3, 4, 5, 6)), ('launch_date', {28, 12, 14}), ('class_time', {'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7})]

In [85]:
type(Aman)

list

In [86]:
type(Aman[0])

tuple

In [87]:
type(Aman[-1])

tuple

In [90]:
type(Aman[-1][-1])
# i.e. we can write a dictionary inside a list

dict

In [91]:
type(Aman[-1][-2])

str

In [92]:
print(d6)

{'number': [2, 34, 3, 34, 34], 'assignment': (1, 2, 3, 4, 5, 6), 'launch_date': {28, 12, 14}, 'class_time': {'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7}}

In [93]:
print(d7)

{'number': [2, 55, 3454, 455, 23], 'assignment': (23, 45, 345, 23, 786, 12, 12), 'launch date': {28, 12, 14}, 'class time': {'web dev': 8, 'data science masters': 8, 'java with DSA and system design': 9}, 'student': ['RAnbir', 'JAgdish']}

In [94]:
del d7["student"]

In [95]:
print(d7)

{'number': [2, 55, 3454, 455, 23], 'assignment': (23, 45, 345, 23, 786, 12, 12), 'launch date': {28, 12, 14}, 'class time': {'web dev': 8, 'data science masters': 8, 'java with DSA and system design': 9}}

In [96]:
d7.pop("number")

[2, 55, 3454, 455, 23]

In [97]:
print(d7)

{'assignment': (23, 45, 345, 23, 786, 12, 12), 'launch date': {28, 12, 14}, 'class time': {'web dev': 8, 'data science masters': 8, 'java with DSA and system design': 9}}

In [101]:
d7.pop()
# pop require atleast one argument to remove any key value pair

<class 'NameError'>: name 'd7' is not defined

In [99]:
del d7

In [100]:
print(d7)

<class 'NameError'>: name 'd7' is not defined

In [102]:
d7 = {"number": [2,55,3454,455,23], "assignment": (23,45,345,23,786,12,12), "launch date":{28,12, 14},
     "class time" : {"web dev":8, "data science masters": 8, "java with DSA and system design":9}}

In [104]:
del d7
# as there is no argument. So, it will delete the whole dictionary

In [106]:
# del and pop function has same use. although the syntax is di/ferent

In [1]:
# AND gate 
# 1+1 = 1
# 1+0 = 0
# 0+1 = 1
# 0+0 = 0
# here it represents for condition in a block
#  1 , 0 stands for the True and False

In [3]:
marks = int(input("enter your marks "))
if marks >= 80:
    print("you will be a part of A0 batch")
elif marks >= 60 and marks< 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you will be a part of A2 batch ")
else :
    print("you will be a part of A3 batch ")

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

enter your marks  34

In [2]:
marks = input("enter your marks")
if marks >=80:
    Print("You will be part of A0 batch")
elif marks >=60 and marks <80:
    Print("You will be part of A1 batch")
elif marks >=40 and marks <60:
    Print("You will be part of A2 batch")
else :
    Print("You will be part of A3 batch")

<class 'TypeError'>: '>=' not supported between instances of 'PyodideFuture' and 'int'

enter your marks 65

In [4]:
type(marks)

pyodide.webloop.PyodideFuture

In [5]:
marks = int(input("enter your marks"))

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

enter your marks fif

In [6]:
# it will take the input in the string form. that is why we are to apply here the int(). sothat we can apply methamatical operation with other int on it

In [7]:
marks  = input("enter your marks")

enter your marks 34

In [8]:
marks = int(input("enter your marks"))

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

enter your marks 23

In [9]:
# price = int(input("enter price " ))
# if price > 1000:
#     print("i will not purchase")
# else :
#     print("i will purchase")

In [11]:
price = int(input(enter the price"))
if price >1000:
    print("I will not purchase")
else:
    print("I will purchase")

<class 'SyntaxError'>: unterminated string literal (detected at line 1) (<ipython-input-11-97cc74264600>, line 1)

In [14]:
price = int(input("enter price " ))
if price > 1000:
    print("i will not purchase")
else :
    print("i will purchase")

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

enter price  "thue"

In [15]:
price = int(input("enter price " ))
if price > 1000:
    print("i will not purchase")
    if price >5000:
        print("this is too much ")
    elif price < 2000 : 
        print("its ok")
elif price < 1000 or price > 500 :
    print("i will purchase")
else :
    print("not interested ")

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

enter price  4500

In [16]:
marks = 67
if marks >= 80 :
    print("you will be part of A0 batch")
elif marks >= 60 and marks < 80 :
    print("you will be part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you will be part of A2 batch")
else :
    print("you will be part of A3 batch")

you will be part of A1 batch

In [3]:
l = [1,2,3,4,5]

In [4]:
l

[1, 2, 3, 4, 5]

In [5]:
l2 = []
for i in l :
    l2.append(i+1)
    print(i+1)
l2

2
3
4
5
6

[2, 3, 4, 5, 6]

In [6]:
l

[1, 2, 3, 4, 5]

In [7]:
l2 = []
for i in l:
    l2.append(i+1)
    print(i+1)
l2

2
3
4
5
6

[2, 3, 4, 5, 6]

In [8]:
l

[1, 2, 3, 4, 5]

In [9]:
l2 = []
for i in l:
    l2.append(i+1)
    print(i+1)
l2

2
3
4
5
6

[2, 3, 4, 5, 6]

In [4]:
marks = int(input("enter your marks "))
if marks >= 80:
    print("you will be a part of A0 batch")
elif marks >= 60 and marks< 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you will be a part of A2 batch ")
else :
    print("you will be a part of A3 batch ")

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

enter your marks  "99"

In [5]:
marks = int(input("Enter your  marks"))
if marks >=80:
    print("You will be a part of A0 batch")
elif marks >=60 and marks <80:
    print("You will be a part of A1 batch")
elif marks >=40 and marks <60:
    print("You wil be a part of A2 batch")
else:
    print("You will part of A3 batch")

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

Enter your  marks 23

In [6]:
marks = 70
if marks >= 80 :
    print("you will be a part of A0 batch")
if marks >= 60 and  marks <80 :
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60 :
    print("you will be a part of A2 batch")
else :
    print("you will be a part of A3 batch")

you will be a part of A1 batch

In [11]:
marks = int(input("Enter your marks"))
if marks >= 80:
    print("You are a good one")
else:
    print("You are bad one")

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

Enter your marks 56

In [13]:
marks = int(input("Enter your marks"))
if marks >= 80:
    print("You are a good one")

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

Enter your marks 9.7

In [1]:
l1

<class 'NameError'>: name 'l1' is not defined

In [2]:
l

<class 'NameError'>: name 'l' is not defined

In [3]:
l1 = [1,2,3,4,5, "Shudh","Ramesh", 45, "Vipin"]

In [10]:
l2 = []
l3 = []
for i in l1:
    if type(i) == int or type(i) == float:
        l2.append(i)
    else:
        l3.append(i)
l2
l3

['Shudh', 'Ramesh', 'Vipin']

In [11]:
l2

[1, 2, 3, 4, 5, 45]

In [12]:
l3

['Shudh', 'Ramesh', 'Vipin']

In [13]:
dict1 = {'a': 'akshat', 'b': 'bhuvan', 'c': 'chandan'}

In [14]:
dict1.items()

dict_items([('a', 'akshat'), ('b', 'bhuvan'), ('c', 'chandan')])

In [15]:
dict1 = {'a': 'akshat', 'b': 'bhuvan', 'c': 'chandan'}
 
keys = []
values = []
for item in dict1.items():
    keys.append(item[0]), values.append(item[1])

print("keys : ", keys)
print("values : ", values)

keys :  ['a', 'b', 'c']
values :  ['akshat', 'bhuvan', 'chandan']