In [1]:
l = [1,2,3,45,6]

In [2]:
for i in l:
    print(i)

1
2
3
45
6

In [3]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
45 <class 'int'>
6 <class 'int'>

In [4]:
s = "Sukhbir"

In [5]:
for i in s:
    print(i)

S
u
k
h
b
i
r

In [6]:
h = "I have the joined the pw skills "

In [8]:
for i in h:
    print(i)

I

h
a
v
e

t
h
e

j
o
i
n
e
d

t
h
e

p
w

s
k
i
l
l
s

In [9]:
l

[1, 2, 3, 45, 6]

In [15]:
for i in l:
    print(i)
else:
    print("Else statement will be executed only after the completion of for loop")

1
2
3
45
6
Else statement will be executed only after the completion of for loop

In [12]:
for i in l1 : 
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute")

<class 'NameError'>: name 'l1' is not defined

In [13]:
l1 = [1,2,3,4,5,6,7,8]

In [14]:
for i in l1 : 
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute")

1
2
3
4
5
6
7
8
if for loop is able to complete itself then only else will execute

In [16]:
# This for else is only in the python.
# In for else loop, the else statement will be executed only after the successful completion of For loop.

In [17]:
l

[1, 2, 3, 45, 6]

In [19]:
for i in l:
    if i == 3:
        break
    print(i)

1
2

In [22]:
for i in l:
    if i == 3:
        break
    print(i)
else:
    print("Challo shuru karte hai")

1
2

In [23]:
# This for else is only in the python.
# In for else loop, the else statement will be executed only after the successful completion of For loop.

In [24]:
l

[1, 2, 3, 45, 6]

In [25]:
for i in l:
    if l == 3:
        continue
    print(i)
else:
    print("let's initiate")

1
2
3
45
6
let's initiate

In [26]:
range5

<class 'NameError'>: name 'range5' is not defined

In [27]:
range(5)

range(0, 5)

In [28]:
list(range(5))

[0, 1, 2, 3, 4]

In [29]:
range(0,5)

range(0, 5)

In [30]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [31]:
Range(6)

<class 'NameError'>: name 'Range' is not defined

In [35]:
list(range(4,26,5))
# where 4 is lower bond , 26 is upper bound, and 5 is the jumping step. 
# Remember it will take data from 0 to the 26-1 and not 26.

[4, 9, 14, 19, 24]

In [36]:
# range() is a generater function which helps in the generation of data or the interger

In [37]:
range(-10,-3, -1)

range(-10, -3, -1)

In [39]:
list(range(-10, -3, 1))

[-10, -9, -8, -7, -6, -5, -4]

In [41]:
list(range(-3, -10, -1))

[-3, -4, -5, -6, -7, -8, -9]

In [42]:
l1 = ["Shudh", "Kumar", "Krish","Naik"]

In [43]:
print(l1)

['Shudh', 'Kumar', 'Krish', 'Naik']

In [44]:
list(range(len(l1)))

[0, 1, 2, 3]

In [46]:
for i in range(len(l1)):
    print(l1[i])
# here we are extracting data in the form of index number.

Shudh
Kumar
Krish
Naik

In [47]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [50]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])
# This way we write it in the reverse order

Naik
Krish
Kumar
Shudh

In [1]:
l2 = [23,5,45,56,6,67,67,78,87,8998,9,9,8]

In [2]:
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
67
87
9
8

In [4]:
for i in range(1, len(l2),2):
    print(l2[i])

5
56
67
78
8998
9

In [6]:
for i in range(0,len(l2),2):
    if i == 0 :
        continue
    print(l2[i])
    # this way i got only the even number

45
6
67
87
9
8

In [7]:
l

<class 'NameError'>: name 'l' is not defined

In [8]:
l = [1,2,3,4,7,8,98]

In [9]:
result = 0
for i in l:
    result = result+i
result

123

In [12]:
result = 0
for i in l:
    result = result+i
    result

In [13]:
result = 0
for i in l:
    result = result+i
result

123

In [14]:
t = (1,2,3,4,4,5)
for i in t:
    print(t)

(1, 2, 3, 4, 4, 5)
(1, 2, 3, 4, 4, 5)
(1, 2, 3, 4, 4, 5)
(1, 2, 3, 4, 4, 5)
(1, 2, 3, 4, 4, 5)
(1, 2, 3, 4, 4, 5)

In [16]:
t = (1,2,3,4,4,5)
for i in t:
    print(i)
    # means this thing is also valid in tuples.

1
2
3
4
4
5

In [17]:
s = {1,2,3,4,5,6,7}
for i in s:
    print(i)
    # means this thing is also vvalid in the sets

1
2
3
4
5
6
7

In [18]:
d = {"name" : "sudh" , "class" : "data scieince masters" ,
     "topic" : ["python","stats","machine learning","DL","CV" ,"NLP","resume","interview"]}

In [23]:
# the for loop can be applied in the dict()

In [19]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [20]:
for i in d.keys():
    print(i)

name
class
topic

In [27]:
keys = []
for i in d.keys():
    keys.append(i)
keys

['name', 'class', 'topic']

In [21]:
for i in d.values():
    print(i)

sudh
data scieince masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [28]:
values = []
for i in d.values():
    values.append(i)
print(values)

['sudh', 'data scieince masters', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']]

In [22]:
d.values()

dict_values(['sudh', 'data scieince masters', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']])

In [24]:
d.items()

dict_items([('name', 'sudh'), ('class', 'data scieince masters'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [25]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data scieince masters')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])

In [29]:
keys = []
values = []
for item in d.items():
    keys.append(item[0]), values.append(item[1])
keys
values

['sudh',
 'data scieince masters',
 ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']]

In [32]:
d

{'name': 'sudh',
 'class': 'data scieince masters',
 'topic': ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [30]:
keys

['name', 'class', 'topic']

In [31]:
values

['sudh',
 'data scieince masters',
 ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']]