In [1]:
l =[1,345,45,"sudh" ,True ,5+7j , 345.456]

In [2]:
s = "pwskills"

In [ ]:
m = list(s)

In [4]:
m

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [5]:
l+m

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [6]:
l = l+list(s)

In [7]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [8]:
l = l-list(s)

<class 'TypeError'>: unsupported operand type(s) for -: 'list' and 'list'

In [9]:
l = l_m

<class 'NameError'>: name 'l_m' is not defined

In [10]:
l = l-m

<class 'TypeError'>: unsupported operand type(s) for -: 'list' and 'list'

In [11]:
l = l-['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

<class 'TypeError'>: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [13]:
l.find(1)

<class 'AttributeError'>: 'list' object has no attribute 'find'

In [14]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [16]:
l.find("sudh")

<class 'AttributeError'>: 'list' object has no attribute 'find'

In [17]:
l.count("sudh")

1

In [18]:
len(l)

15

In [19]:
l =[1,345,45,"sudh" ,True ,5+7j , 345.456]

In [20]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [21]:
l.append(l)

In [22]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...]]

In [23]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...]]

In [24]:
l.append(345)

In [25]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...], 345]

In [26]:
l.append("sudh")

In [27]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...], 345, 'sudh']

In [28]:
l.append(1)

In [29]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...], 345, 'sudh', 1]

In [30]:
l.append(l)

In [31]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...], 345, 'sudh', 1, [...]]

In [32]:
l[7]

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...], 345, 'sudh', 1, [...]]

In [33]:
l[6]

345.456

In [34]:
l[11]

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...], 345, 'sudh', 1, [...]]

In [35]:
l[-1]

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...], 345, 'sudh', 1, [...]]

In [36]:
l =[1,345,45,"sudh" ,True ,5+7j , 345.456]

In [37]:
l.append(l)

In [38]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...]]

In [39]:
l[-1]

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...]]

In [ ]:
l[]

In [41]:
l[-1][-1]

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...]]

In [42]:
l[-1][-1][-1]

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...]]

In [43]:
# we can do indexing and slicin in the list

In [44]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [...]]

In [45]:
l =[1,345,45,"sudh" ,True ,5+7j , 345.456]

In [46]:
l+[1,2,3,4,5]

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 1, 2, 3, 4, 5]

In [47]:
m = l+[1,2,3,4,5]

In [48]:
m

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 1, 2, 3, 4, 5]

In [49]:
n = l+[[1,2,3,4,5]]

In [50]:
n

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [1, 2, 3, 4, 5]]

In [51]:
o = l+[[[1,2,3,4,5]]]

In [52]:
o

[1, 345, 45, 'sudh', True, (5+7j), 345.456, [[1, 2, 3, 4, 5]]]

In [53]:
type(n[-1])

list

In [57]:
type(o[-1][-1][-1])

int

In [58]:
a

<class 'NameError'>: name 'a' is not defined

In [63]:
a = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

In [64]:
a[::]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [65]:
a[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [66]:
a[::3]

[0, 3, 6, 9, 12, 15]

In [67]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [68]:
l[5]

(5+7j)

In [69]:
l[4]

True

In [70]:
l[4][::2]

<class 'TypeError'>: 'bool' object is not subscriptable

In [71]:
str(l[4][::2])

<class 'TypeError'>: 'bool' object is not subscriptable

In [72]:
str(l[4])[::2]

'Tu'

In [73]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [74]:
l.append(5)

In [75]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5]

In [76]:
# append() is used to add any object at the end of a list.

In [77]:
s

'pwskills'

In [83]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', 'pwskills']

In [84]:
l = [1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [85]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [86]:
l.append(5)

In [87]:
l.append(s)
# th string is added to the end of the list withoitbreaging in the small form

In [88]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills']

In [89]:
l.append(list(s))

In [90]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']]

In [91]:
s = list(s)

In [92]:
l.append(s)

In [93]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']]

In [94]:
l[-l]

<class 'TypeError'>: bad operand type for unary -: 'list'

In [95]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']]

In [96]:
l[1]

345

In [97]:
l[-1]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [99]:
l.append(2)

In [100]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 2,
 2]

In [101]:
l.extend(2)

<class 'TypeError'>: 'int' object is not iterable

In [109]:
# we can append the iterables as well as the non iterables and the object is added as it is
# But in the extend() we can use only the noniterables and breaks the the object into smalll units.

In [103]:
l.extend(2)

<class 'TypeError'>: 'int' object is not iterable

In [104]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 2,
 2]

In [105]:
l.extend(s)

In [106]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 2,
 2,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [107]:
print(l)

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'], ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'], 2, 2, 'p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [108]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 2,
 2,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [110]:
s

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [111]:
q = "pwskills"

In [112]:
l.extend(q)

In [113]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'],
 2,
 2,
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 'p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [114]:
print(l)

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'], ['p', 'w', 's', 'k', 'i', 'l', 'l', 's'], 2, 2, 'p', 'w', 's', 'k', 'i', 'l', 'l', 's', 'p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [115]:
# shift+tab is used to  find the detail of any function.

In [116]:
# insert() is used to append any object at the desired index number.

In [117]:
l = [1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [118]:
l.insert(2,[22,33,44,55])

In [119]:
l

[1, 345, [22, 33, 44, 55], 45, 'sudh', True, (5+7j), 345.456]

In [120]:
l.insert(-1,45)

In [121]:
l

[1, 345, [22, 33, 44, 55], 45, 'sudh', True, (5+7j), 45, 345.456]

In [122]:
l1

<class 'NameError'>: name 'l1' is not defined

In [123]:
l1 = [1,2,3,4,5,6]

In [124]:
l1.pop(2)

3

In [125]:
l1

[1, 2, 4, 5, 6]

In [127]:
# pop() is used to remove any object at the desired index number of a list

In [1]:
l =[1,345,45,"sudh" ,True ,5+7j , 345.456]

In [2]:
l.index(345)

1

In [3]:
l.index("sudh")

3

In [4]:
l.index(True)

0

In [5]:
l.index(345.456)

6

In [ ]:
l1.imset

In [6]:
q = "This is my first class"

In [9]:
q.find("h")

1

In [8]:
q.find("is")

2

In [10]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [11]:
l,find(345)

<class 'NameError'>: name 'find' is not defined

In [12]:
l.find(l)

<class 'AttributeError'>: 'list' object has no attribute 'find'

In [13]:
l.index(345)

1

In [14]:
l.find(345)

<class 'AttributeError'>: 'list' object has no attribute 'find'

In [15]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [16]:
l = l+l

In [17]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456]

In [18]:
print(l)

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [19]:
l.pop()

345.456

In [20]:
l.pop(-1)

(5+7j)

In [21]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 1, 345, 45, 'sudh', True]

In [22]:
l.pop(1:3)

<class 'SyntaxError'>: invalid syntax (<ipython-input-22-8587c7ab331f>, line 1)

In [23]:
l.pop(l[1:4])

<class 'TypeError'>: 'list' object cannot be interpreted as an integer

In [24]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 1, 345, 45, 'sudh', True]

In [25]:
l.remove()

<class 'TypeError'>: list.remove() takes exactly one argument (0 given)

In [26]:
l.remove(345)

In [27]:
l

[1, 45, 'sudh', True, (5+7j), 345.456, 1, 345, 45, 'sudh', True]

In [28]:
l

[1, 45, 'sudh', True, (5+7j), 345.456, 1, 345, 45, 'sudh', True]

In [29]:
l = l[::-1]

In [30]:
l

[True, 'sudh', 45, 345, 1, 345.456, (5+7j), True, 'sudh', 45, 1]

In [31]:
s

<class 'NameError'>: name 's' is not defined

In [32]:
s = "pwskills"

In [33]:
s[::01]

<class 'SyntaxError'>: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-33-90d046ca5f9f>, line 1)

In [34]:
s[::-1
]

'sllikswp'

In [35]:
s

'pwskills'

In [36]:
s.reverse()

<class 'AttributeError'>: 'str' object has no attribute 'reverse'

In [37]:
l

[True, 'sudh', 45, 345, 1, 345.456, (5+7j), True, 'sudh', 45, 1]

In [38]:
l.reverse()

In [39]:
l

[1, 45, 'sudh', True, (5+7j), 345.456, 1, 345, 45, 'sudh', True]

In [40]:
l.reverse()

In [41]:
l

[True, 'sudh', 45, 345, 1, 345.456, (5+7j), True, 'sudh', 45, 1]

In [42]:
s = "This is my string concept"

In [43]:
s.reverse()

<class 'AttributeError'>: 'str' object has no attribute 'reverse'

In [44]:
s = "2387,231,134798,2398,48"

In [45]:
s.sort()

<class 'AttributeError'>: 'str' object has no attribute 'sort'

In [46]:
l = [984389324,398,347838,218124874,4370398,4188834,4832194,338]

In [49]:
l.sort()
# It will automatically arrange it in the ascending order

In [50]:
l

[338, 398, 347838, 4188834, 4370398, 4832194, 218124874, 984389324]

In [51]:
l.sort(reverse = True)

In [52]:
l

[984389324, 218124874, 4832194, 4370398, 4188834, 347838, 398, 338]

In [53]:
l.sort(reverse = True)

In [54]:
l

[984389324, 218124874, 4832194, 4370398, 4188834, 347838, 398, 338]

In [55]:
l = sort(reverse = False)

<class 'NameError'>: name 'sort' is not defined

In [56]:
s = "This is my pwskills course , mind it"

In [57]:
s.sort(









    0

<class 'SyntaxError'>: incomplete input (<ipython-input-57-0141c0ff7246>, line 11)

In [58]:
s.sort()

<class 'AttributeError'>: 'str' object has no attribute 'sort'

In [59]:
s

'This is my pwskills course , mind it'

In [ ]:
s.sort()

In [60]:
l1 = ["this", "is", "pw", "lecture", "isok"]

In [61]:
l1

['this', 'is', 'pw', 'lecture', 'isok']

In [64]:
l1.sort()
# it will sort the  list in the ascnding alaphabeticL ORDER

In [65]:
l1

['is', 'isok', 'lecture', 'pw', 'this']

In [66]:
l1 = ["jdsl",873387,391, "sd"]

In [67]:
l1.sort()

<class 'TypeError'>: '<' not supported between instances of 'int' and 'str'

In [68]:
a = ["a", "aaa", "abc","klo","abb", "aaaa"]

In [69]:
sort(a)

<class 'NameError'>: name 'sort' is not defined

In [70]:
a.sort()

In [71]:
a

['a', 'aaa', 'aaaa', 'abb', 'abc', 'klo']

In [1]:
s = "I have already joined the pwclasses"

In [2]:
s.replace("i", "we")

'I have already jowened the pwclasses'

In [3]:
s

'I have already joined the pwclasses'

In [4]:
s.replace(s[0], "We")

'We have already joined the pwclasses'

In [5]:
s

'I have already joined the pwclasses'

In [6]:
# tuple is a type of data tuype which is similar to list.  means it can  store data like list. But it is immutable.

In [7]:
t = (True, 'sudh', 45, 345, 1, 345.456, (5+7j), True, 'sudh', 45, 1)

In [8]:
t

(True, 'sudh', 45, 345, 1, 345.456, (5+7j), True, 'sudh', 45, 1)

In [9]:
type(t)

tuple

In [10]:
q = (True, 12,342,4234,"Mohit", "Jaspal", (2+3j), ("HI, this side Mohit"))

In [11]:
q

(True, 12, 342, 4234, 'Mohit', 'Jaspal', (2+3j), 'HI, this side Mohit')

In [12]:
q[-1]

'HI, this side Mohit'

In [13]:
type(q[-1])

str

In [14]:
w = (True, 12,342,4234,"Mohit", "Jaspal", (2+3j), ("HI, this side Mohit", "has", 43,3737))

In [15]:
w[-1]

('HI, this side Mohit', 'has', 43, 3737)

In [16]:
type(-1)

int

In [17]:
type(w[-1])

tuple

In [18]:
l

<class 'NameError'>: name 'l' is not defined

In [19]:
l = [2, 3247, 73297, 457923, 43597295, 774375934759]

In [20]:
l

[2, 3247, 73297, 457923, 43597295, 774375934759]

In [21]:
l[-1]

774375934759

In [23]:
p = "you have to join the pw course that i have joined "

In [24]:
p

'you have to join the pw course that i have joined '

In [25]:
p[-1]

' '

In [26]:
p[1]

'o'

In [27]:
l

[2, 3247, 73297, 457923, 43597295, 774375934759]

In [28]:
l.index[2]

<class 'TypeError'>: 'builtin_function_or_method' object is not subscriptable

In [29]:
l.index(2)

0

In [30]:
p

'you have to join the pw course that i have joined '

In [31]:
p.find("o")

1

In [32]:
p.find("you")

0

In [33]:
p.find("You")

-1

In [34]:
# As the tuple is immutable i.e. why here, we can store data like password, because we can't change here anything

In [35]:
q

(True, 12, 342, 4234, 'Mohit', 'Jaspal', (2+3j), 'HI, this side Mohit')

In [36]:
q = (True, 12, 342, 4234, 'Mohit', 'Jaspal', (2+3j), ('HI, this side Mohit',"ramesh", "suresh", 34,56,[1,23,4873]))

In [37]:
q

(True,
 12,
 342,
 4234,
 'Mohit',
 'Jaspal',
 (2+3j),
 ('HI, this side Mohit', 'ramesh', 'suresh', 34, 56, [1, 23, 4873]))

In [38]:
type

type

In [39]:
type(q)

tuple

In [40]:
q[-1]

('HI, this side Mohit', 'ramesh', 'suresh', 34, 56, [1, 23, 4873])

In [42]:
print(q)

(True, 12, 342, 4234, 'Mohit', 'Jaspal', (2+3j), ('HI, this side Mohit', 'ramesh', 'suresh', 34, 56, [1, 23, 4873]))

In [43]:
q

(True,
 12,
 342,
 4234,
 'Mohit',
 'Jaspal',
 (2+3j),
 ('HI, this side Mohit', 'ramesh', 'suresh', 34, 56, [1, 23, 4873]))

In [44]:
q = (True, 12, 342, 4234, 'Mohit', 'Jaspal', (2+3j), ('HI, this side Mohit',"ramesh", "suresh"), 34,56,[1,23,4873])

In [45]:
q[-1]

[1, 23, 4873]

In [46]:
type(q[-1])

list

In [47]:
len(t)

11

In [48]:
t

(True, 'sudh', 45, 345, 1, 345.456, (5+7j), True, 'sudh', 45, 1)

In [49]:
q

(True,
 12,
 342,
 4234,
 'Mohit',
 'Jaspal',
 (2+3j),
 ('HI, this side Mohit', 'ramesh', 'suresh'),
 34,
 56,
 [1, 23, 4873])

In [50]:
print(t)

(True, 'sudh', 45, 345, 1, 345.456, (5+7j), True, 'sudh', 45, 1)

In [51]:
print(q)

(True, 12, 342, 4234, 'Mohit', 'Jaspal', (2+3j), ('HI, this side Mohit', 'ramesh', 'suresh'), 34, 56, [1, 23, 4873])