In [30]:
# map function , it maps all the elements with the function.
# and it works on the iterablles

In [2]:


l = [2,3,4,5,6]

In [3]:
l = [2,3,4,4,5,6]

In [6]:
l1 = []
for i in l:
    l1.append(i)
return l1

<class 'SyntaxError'>: 'return' outside function (<ipython-input-6-8e8687f0cded>, line 4)

In [7]:
l1 = []
    for i in l :
        l1.append(i**2)
    return l1

<class 'IndentationError'>: unexpected indent (<ipython-input-7-b2e6f39ad857>, line 2)

In [8]:
l1 = []
for i in l :
    l1.append(i**2)
return l1

<class 'SyntaxError'>: 'return' outside function (<ipython-input-8-09ee2441ab84>, line 4)

In [9]:
def test(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1

In [10]:
def test(l):
    l1 = []
    for i in l:
        l1.append(i**2)
    return l1

In [11]:
test(l)

[4, 9, 16, 16, 25, 36]

In [12]:
list(test(l))

[4, 9, 16, 16, 25, 36]

In [13]:
# In the map fuction ,  e pas rwo arguments , in wihich one is either the external fucnction that we have defines or the lamda fuction and the argument is the ata in which we are applyling that function

In [14]:
def sq(x):
    return x**2

In [16]:
map(sq, l)

In [17]:
list(map(sq, l))

[4, 9, 16, 16, 25, 36]

In [18]:
[map(sq,l)]

In [19]:
list(map(lambda x : x**2 , l))

[4, 9, 16, 16, 25, 36]

In [21]:
list(map(lambda x:x**2, l))

[4, 9, 16, 16, 25, 36]

In [22]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

list(map(lambda x , y : x+y , l1 , l2 ))

[7, 9, 11, 13, 15]

In [23]:
l1  = [1,2,3,4,5]
l2 = [6,7,8,9,10]
list(map(lambda x, y:x+y,l1, l2))

[7, 9, 11, 13, 15]

In [24]:
def add(x,y) :
    return x+y

In [25]:
def add(a, b):
    return a+b

In [27]:
list(map(add,l1, l2))

[7, 9, 11, 13, 15]

In [28]:
s = "pwskills"

In [29]:
list(map(lambda x:x.upper(), s ))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [31]:
# map(), reduce(), filter() all are the one liner function

In [32]:
# syntax of reduce() is similar to map()

In [33]:
# syntax of filter() is similar to map().
# it works upon the condition.
# like it can be use to find the even no., odd no., max, min, length wise filter etc.

In [34]:
# reduce function

In [35]:
l = [1,2,3,3,4,5]

In [36]:
reduce(lambda x ,y : x+y , l)

<class 'NameError'>: name 'reduce' is not defined

In [37]:
l = [1,2,3,3,4,5]

In [38]:
l = [1,2,3,4,56,8]

In [39]:
reduce(lambda x,y:x+y,l)

<class 'NameError'>: name 'reduce' is not defined

In [40]:
# this pyodide may not accept the reduce()

In [42]:
reduce(lambda x ,y ,z : x+y+z , l)
# it will not operate on addition of this inputs

<class 'NameError'>: name 'reduce' is not defined

In [43]:
reduce(lambda x ,y : x+y , [])

<class 'NameError'>: name 'reduce' is not defined

In [44]:
reduce(lambda x, y:x+y,[])
# empty list is not acceptable

<class 'NameError'>: name 'reduce' is not defined

In [45]:
reduce(lambda x ,y : x+y , [1])

<class 'NameError'>: name 'reduce' is not defined

In [47]:
reduce(lambda x,y :x+y, [1])
# it is an exception case

<class 'NameError'>: name 'reduce' is not defined

In [48]:
reduce(lambda x ,y : x*y , l)

<class 'NameError'>: name 'reduce' is not defined

In [50]:
reduce(lambda x,y:x*y,l)

<class 'NameError'>: name 'reduce' is not defined

In [51]:
l

[1, 2, 3, 4, 56, 8]

In [53]:
reduce(lambda x,y :x if x > y else y , l )

<class 'NameError'>: name 'reduce' is not defined

In [56]:
reduce(lambda x,y :  x if x>y else y,l)

<class 'NameError'>: name 'reduce' is not defined

In [57]:
l

[1, 2, 3, 4, 56, 8]

In [58]:
# filter()

In [59]:
list(filter(lambda x : x % 2 == 0 , l))

[2, 4, 56, 8]

In [61]:
list(filter(lambda x: x%2==0, l))
# here we will get the even numbers as output

[2, 4, 56, 8]

In [62]:
list(filter(lambda x : x % 2 != 0 , l))
# here we will get the odd numbers as output

[1, 3]

In [63]:
l1 = [-3,4,5,6,-1,-5]

In [64]:
list(filter(lambda x : x<0 , l1 ))
# here we will get the negative numbers as output

[-3, -1, -5]

In [65]:
l2 = ["sudh"  , "pwskills" , "kumar" , "bengalore" , "krish"]

In [67]:
list(filter(lambda x: len(x)<6, l2))

['sudh', 'kumar', 'krish']